* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 300px;
    flex-direction: column;
}
.header_title{
    font-size: 50px;
    margin-bottom: 5px;
}
.header_subtext {
    font-size: 30px;
}
