* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: sandybrown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 70px;
    padding: 0 20px;
    position: relative;
}
.header_title{
    font-size: 24px;
    margin: 0;
    text-decoration: none;
    color: black;
}
.header_subtext {
    font-size: 30px;
    margin-bottom: 100px;
}
nav {
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    width: 100%;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    align-items: center;
    margin-top: 20px;
}
nav ul li {
    margin-left: 10px;
}
nav ul li:first-child{
    margin-left: auto;
}
nav ul li a {
    text-decoration: none; 
    color: #333; 
    font-size: 24px; 
    font-weight: bold; 
    border: 2px solid #333; 
    padding: 5px 10px; 
    background-color: white;
}
main {
    background-color: #E8CCA8;
    padding: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 600px;
    text-align: center;
}

.person-list {
    margin-bottom: 20px;
}

.person-list h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.person-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.person-list ul li {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}
.recepten_title {
    text-align: center;
    margin-top: -40px;
    text-shadow: 2px 2px 2px red;
}
.recept_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px; 
}
.recept {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
}
.recept a {
    display: block;
    text-decoration: none;
    color: black;
}
.recept img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 200px;
}
.recept h2 {
    margin-top: 0px;
    font-size: 18px;
}
.recept:last-child {
    margin-right: 0;
}
.detail_image {
    width: 70%;
    max-width: 300px;
    height: auto;
    display: block; 
    margin: 0 auto; 
    max-height: 300px;
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;
}
.detail_recept {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.specials_container {
    display: flex;
}
.left, .right {
    width: 25%;
}
.right li {
    width: 25%;
    float: right;
    padding-left: 150px;
}
.left ol {
    list-style: none;
}
.middle {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle ol .special_a_ingredient {
    text-align: center;
}
.middle h2 {
    text-align: center;
}
.middle ol {
    padding: 0;
    list-style: none;
}
.middle li {
    text-align: center;
    margin-bottom: 0px;
}
.specials_container h2 {
    text-align: center;
}
.specials_container ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.specials_container .special_time {
    font-weight: bold;
    color: #333;
}
footer {
    background-color: #684035;
    justify-content: space-between;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 72px;
}
.footer_text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
}
.footer_sociall {
    align-items: center;
    background-color: 684035;
    height: 72px;
}
.footer_sociall a {
    margin-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer_sociall a img {
    width: 40px;
    height: auto;
    align-items: center;
}